.imageContainer {
  width: 100%;
  padding-bottom: 96px;
  position: relative;

  border-radius: 16px;
}

.image {
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
}

.placeholder {
  padding-top: 48px;
}

.marker {
  height: 25px;
  width: 25px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  background-color: var(--accent);
  box-shadow: 0 0 14px 14px var(--accent);

  transform: translate(-50%, -50%);
}

.markerImg {
  max-height: 350%;
  max-width: 350%;
}

.incorrect {
  height: 16px;
  width: 16px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  background-color: var(--error);
  box-shadow: 0 0 2px 2px var(--error);
  color: white;
  font-weight: bold;

  opacity: 0;
  transform: translate(-50%, -50%);
  animation: fadeout 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeout {
  25%,
  60% {
    transform: scale(2) translate(-25%, -25%);
    opacity: 1;
  }
}
