.imageContainer {
  width: 100%;
  margin-bottom: 96px;
  position: relative;

  border-radius: 16px;
}

.image {
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
}

.placeholder {
  padding-top: 48px;
}

.marker {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  transform: translate(-50%, -50%);
}

.correct {
  composes: marker;
  height: 25px;
  width: 25px;

  background-color: var(--accent-dark);
  box-shadow: 0 0 14px 14px var(--accent-dark);
  animation: fadein 0.3s;
}

.correctImg {
  max-height: 350%;
  max-width: 350%;
}

.incorrect {
  composes: marker;
  height: 16px;
  width: 16px;

  background-color: var(--error);
  box-shadow: 0 0 2px 2px var(--error);
  font-weight: bold;

  opacity: 0;
  animation: fadeout 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeout {
  25%,
  60% {
    transform: scale(2) translate(-25%, -25%);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    transform: translate(-50%, -400%);
    opacity: 0;
  }

  /* 70% {
    transform: scale(1.1);
  } */
}
