@font-face {
  font-family: "Honk";
  src: url(./assets/Honk-Regular.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 10px 20px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--neutral-700);
}

.link {
  font-size: 40px;
  font-weight: bold;
  font-family: "Honk", system-ui;
  color: var(--neutral-700);
}

.github {
  width: 32px;
  filter: invert(23%) sepia(28%) saturate(431%) hue-rotate(240deg)
    brightness(94%) contrast(89%);
  transition: 0.3s;
}

.github:hover {
  filter: invert(24%) sepia(100%) saturate(2118%) hue-rotate(275deg)
    brightness(87%) contrast(105%);
}
