.magnifier {
  position: absolute;
  pointer-events: none;

  display: flex;
  justify-content: center;

  border-radius: 50px;
  border: 2px solid var(--accent);
  box-shadow: 0 0 3px 3px var(--neutral-900);
  background-repeat: no-repeat;
  transition: opacity 0.15s;
}
